
[submodule "gruvbox"]
	path = vim/colors/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim-distinguished"]
	path = vim/colors/vim-distinguished
	url = https://github.com/tpope/vim-vividchalk
[submodule "Vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
